body {
  font-family: 'Oswald', sans-serif;
}
hr {
  background-color: black;
  height: 2px !important;
}
.nav-wrapper {
  background-color: rgb(64, 200, 147) !important;
  margin: 0 !important;
}

.brand-logo {
  padding-left: 5px !important;
  font-family: Oswald;
}
h1, h2, h3 {
  /*color: rgb(0, 0, 0);*/
  margin: 0 !important;
  padding: 0 !important;
}

.readable {
  background-color: rgba(168, 168, 168, 0.69);
  margin-top: 30px;
  border-radius: 10px;
}


.indexptags {
  font-size: 20px;
}

.boutmeptags {
  font-size: 20px;
}

.goalsptags {
  font-size: 20px;
  line-height: 100%;
}

.hobtags {
  font-size: 21px;
}

.prevexpptags {
  font-size: 25px;
  line-height: 100%;
}

.hobbiez {
  background: url('hobbies.jpg') no-repeat center fixed;
  height: 100vh;
  width: 100%;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  /*background-position: center;*/

}

.indexbgpic {
  background-image: url('indexpicture.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.shiftright {
  display: flex;
  justify-content: flex-end;
}

.biopic {
  background-image: url('vballshirtoff.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.prevexppic {
  background-image: url('previousexperience.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.goalspic {
  background-image: url('alaskataketwo.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
